.main {

    width: 100%;
    height: 100%;
    background-color: #060837;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.main .message {
    color: #07a776;
    font-size: 1.25em;
    font-weight: 700;
    margin: 10px 200px;

}

.loading {
    color: #f9fcfb;
    font-size: 1.25em;
    font-weight: 700;
    margin: 10px 200px;

}


.button {
    background-color: #07a776;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 700;
    margin: 30px 25px 10px 0px;
}

.buttonDisabled {
    background-color: #676969;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-size: 1.25em;
    font-weight: 700;
    margin: 30px 25px 10px 0px;
}

.button:hover {
    transition: 0.3s;
    background-color: #33ecb5;
}

.input {
    border: 1px solid #07a776;
    border-radius: 10px;
    padding: 5px;
    margin: 1px 13px;
    font-size: 1.25em;
    font-weight: 700;
    cursor: pointer;
}