.box {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 60px 9px 60px;
    width: 100%;
    height: 100%;
    background-color: #060837;
    box-shadow: 0 0 10px 2px #052468;
}


/*
cores principais

#07a776 - verde

#060837 - azul

*/